{{ $author := ((.Get "author") | default "") }}
{{ $url := ((.Get "url") | default "") }}

<div class="shortcode shortcode-{{ .Name }}">
  <figure>
    <blockquote class="blockquote">
      {{ with .Inner }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
    </blockquote>
    {{ with $author }}
    <figcaption class="blockquote-footer">
      <cite>
        {{ with $url }}
        <a href="{{ $url }}" target="_blank" rel="noopener nofollow">{{ $author | $.Page.RenderString }}</a>
        {{ else }}
        {{ $author | $.Page.RenderString }}
        {{ end }}
      </cite>
    </figcaption>
    {{ end }}
  </figure>
</div>
